**TUPLES**

In [1]:
t= (1,2,3,4,5,6)

In [2]:
type(t)

tuple

In [3]:
 t1=('yui',231,231.45,True)

In [4]:
t2=()
type(t2)

tuple

In [5]:
t1[0::2]

('yui', 231.45)

In [6]:
t1[::-1]

(True, 231.45, 231, 'yui')

In [7]:
t1[0]="Anil"

TypeError: ignored

In [8]:
t3=('rty',567,564.12,True,False,3+7j)

In [9]:
t1+t3

('yui', 231, 231.45, True, 'rty', 567, 564.12, True, False, (3+7j))

In [10]:
t1*2

('yui', 231, 231.45, True, 'yui', 231, 231.45, True)

In [11]:
t4= (1,2,3,4,(3,4,5,6),(23,45,(3432345)))
#nested tuple

In [12]:
type(t4)

tuple

In [13]:
tl=([1,2,3],345)

In [14]:
type(tl)

tuple

In [15]:
tl[0][2]=4
#I am able to change the data in the list which is inside the tuple

In [16]:
tl[0]='2'

TypeError: ignored

In [17]:
t7=[1,2,3,4,(34,43,56)]

In [18]:
#we can not add tuples with list
t7+t4
#Hetrogenous concatenation is not allowed

TypeError: ignored

In [19]:
convertedList=[]
convertedList= t4

In [20]:
convertedList

(1, 2, 3, 4, (3, 4, 5, 6), (23, 45, 3432345))

In [21]:
type(convertedList)

tuple

In [22]:
convertedListThroughFun= list(t1)

In [23]:
type(convertedListThroughFun)

list

In [24]:
convertedTupleThroughFunc= tuple(convertedListThroughFun)

In [25]:
type(convertedTupleThroughFunc)

tuple

**SET**

In [26]:
#let take a scenario in our collection we have multiple duplicate element , best easy way to do convert the given collection into set, lest see how

In [27]:
s=(1,2,3,4,5,6,1,2,3,4,54,56,32)
type(s)

tuple

In [28]:
FirstSet= set(s)
type(FirstSet)

set

In [29]:
FirstSet
#see all the duplicates get removed

{1, 2, 3, 4, 5, 6, 32, 54, 56}

In [30]:
ExpectedTbobeSet= {}
type(ExpectedTbobeSet)

dict

In [31]:
ExpectedTobeSETsecond= {1,2,3}
type(ExpectedTobeSETsecond)

set

In [32]:
FirstSet[0]

TypeError: ignored

In [33]:
#To access youhave to convert it into list
list(FirstSet)

[32, 1, 2, 3, 4, 5, 6, 54, 56]

In [34]:
FirstSet.add("fgdhj")
FirstSet

{1, 2, 3, 32, 4, 5, 54, 56, 6, 'fgdhj'}

In [35]:
FirstSet.add([1,3,4])

TypeError: ignored

In [36]:
FirstSet.add((1,3,4))

In [37]:
FirstSet

{(1, 3, 4), 1, 2, 3, 32, 4, 5, 54, 56, 6, 'fgdhj'}

In [38]:
FirstSet.add((1,3,4)) #it removes similar tuples as well

In [39]:
FirstSet

{(1, 3, 4), 1, 2, 3, 32, 4, 5, 54, 56, 6, 'fgdhj'}

In [46]:
#list to set , tuple to set all are possible 
FirstSet.remove(2)

In [44]:
FirstSet.discard(3)

In [47]:
FirstSet[0]

TypeError: ignored

In [48]:
{"Sudh","Sudh"}

{'Sudh'}

In [49]:
{"Sudh","sudh"}

{'Sudh', 'sudh'}

**DICTIONARY**

In [50]:
d={}
type(d)

dict

In [51]:
d1={3:"ANIL"}
type(d1)

dict

In [52]:
d3={"key1":234, "Key2":"Anil" ,"Key3":[1,2,3,4,5,6],"Key4":(1,2,3,4,5),"Key5":{1,2,3,4,5,67}}

In [53]:
d3

{'key1': 234,
 'Key2': 'Anil',
 'Key3': [1, 2, 3, 4, 5, 6],
 'Key4': (1, 2, 3, 4, 5),
 'Key5': {1, 2, 3, 4, 5, 67}}

In [56]:
d3['key1']

234

In [61]:
d4={@:"AnilKamat"}

SyntaxError: ignored

In [62]:
d4={.3:"HJU="}

In [65]:
d5={"key1":234, "key2":345, "key1":[1,2,3,4,5,6]}
d5

{'key1': [1, 2, 3, 4, 5, 6], 'key2': 345}

In [66]:
d5['key1']

[1, 2, 3, 4, 5, 6]

In [69]:
d6={[1,2,3,4,5]:"sudhanshu"}

TypeError: ignored

In [72]:
d6={"[1,2,3,4,5]":"sudhanshu"}

In [73]:
d5["key1"][3]

4

In [74]:
d.keys()

dict_keys([])

In [78]:
d5.keys()
d5.values()

dict_values([[1, 2, 3, 4, 5, 6], 345])

In [79]:
d3.items()

dict_items([('key1', 234), ('Key2', 'Anil'), ('Key3', [1, 2, 3, 4, 5, 6]), ('Key4', (1, 2, 3, 4, 5)), ('Key5', {1, 2, 3, 4, 5, 67})])

In [83]:
s7=d3.items()
type(s7)
type(s7)

dict_items

In [84]:
d5["keyUN"]=123323

In [85]:
d5

{'key1': [1, 2, 3, 4, 5, 6], 'key2': 345, 'keyUN': 123323}

In [86]:
d5['key1']= 156775

In [87]:
d5

{'key1': 156775, 'key2': 345, 'keyUN': 123323}

In [88]:
del d5['key1']

In [89]:
d5
del d5

In [90]:
d5

NameError: ignored

In [92]:
d7={(1,2,3,4,6):"AnilKamat"} #key as Tuple works , but key as List doesn;t work

In [95]:
d7["(1,2)"]

KeyError: ignored

In [97]:
d7.get("(1,2)")

In [98]:
d7.update(d3)

In [99]:
d7

{(1, 2, 3, 4, 6): 'AnilKamat',
 'key1': 234,
 'Key2': 'Anil',
 'Key3': [1, 2, 3, 4, 5, 6],
 'Key4': (1, 2, 3, 4, 5),
 'Key5': {1, 2, 3, 4, 5, 67}}

In [113]:
Key=("Anil", "kamat", "BCA")
Value= ("sudh", "krish", "Sunny" )
dw={}

In [114]:
s3=dw.fromkeys(Key,Value)

In [115]:
s3

{'Anil': ('sudh', 'krish', 'Sunny'),
 'kamat': ('sudh', 'krish', 'Sunny'),
 'BCA': ('sudh', 'krish', 'Sunny')}