In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/sagnikghoshcr7/Bank-Customer-Churn-Prediction/master/Churn_Modelling.csv")

In [3]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [4]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [5]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df["Geography"].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [8]:
df["Geography"].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [9]:
df["Gender"].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [10]:
df = pd.get_dummies(df,columns=["Geography","Gender"],drop_first=True)

In [11]:
x = df.drop(["Exited"],axis=1)

In [12]:
y = df["Exited"]

In [13]:
import tensorflow
from tensorflow import keras

In [14]:
len(x.columns)

11

In [15]:
from tensorflow.keras import Sequential #
from tensorflow.keras.layers import Dense # use hidden layer

In [16]:
from keras.api._v2.keras import activations

In [17]:
# create an object of sequential (linear stack of layers)
model = Sequential()
model.add(Dense(11, activation = "sigmoid", input_dim=11))  # for adding layer we use dense INPUT Layer
model.add(Dense(11 , activation = "sigmoid"))  # HIDDEN LAYER
model.add(Dense(1))  # Output Layer
# it automatically take care of the bias

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                132

 dense_1 (Dense)             (None, 11)                132

 dense_2 (Dense)             (None, 1)                 12

=================================================================
Total params: 276 (1.08 KB)
Trainable params: 276 (1.08 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [20]:
# we are going to use Gradient descent therefore we need to scale the data

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_tf = scaler.fit_transform(X_train)
X_test_tf = scaler.transform(X_test)

In [21]:
model.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])

In [22]:
history = model.fit(X_train_tf,y_train,epochs=50,verbose=1)

Epoch 1/50
250/250 [==============================] - 12s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 2/50
250/250 [==============================] - 2s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 3/50
250/250 [==============================] - 2s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 4/50
250/250 [==============================] - 2s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 5/50
250/250 [==============================] - 2s 8ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 6/50
250/250 [==============================] - 2s 10ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 7/50
250/250 [==============================] - 2s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 8/50
250/250 [==============================] - 1s 4ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 9/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 10/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 12/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 16/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 17/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 18/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 19/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 20/50
250/250 [==============================] - 1s 4ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 21/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 22/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 23/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 24/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 25/50
250/250 [==============================] - 1s 3ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 26/50
250/250 [==============================] - 1s 4ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 27/50
250/250 [==============================] - 2s 8ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 28/50
250/250 [==============================] - 2s 8ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 29/50
250/250 [==============================] - 3s 13ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 30/50
250/250 [==============================] - 2s 7ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 31/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 32/50
250/250 [==============================] - 1s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 33/50
250/250 [==============================] - 2s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 34/50
250/250 [==============================] - 2s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 35/50
250/250 [==============================] - 1s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 36/50
250/250 [==============================] - 2s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 37/50
250/250 [==============================] - 2s 8ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 38/50
250/250 [==============================] - 2s 7ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 39/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 40/50
250/250 [==============================] - 1s 6ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 41/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 42/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 43/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 44/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 45/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 46/50
250/250 [==============================] - 2s 7ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 47/50
250/250 [==============================] - 2s 8ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 48/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 49/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960
Epoch 50/50
250/250 [==============================] - 1s 5ms/step - loss: 3.1467 - accuracy: 0.7960

In [28]:
y_pred = model.predict(X_test_tf)

63/63 [==============================] - 0s 2ms/step

In [29]:
y_pred

array([[-0.98682326],
       [-1.1365265 ],
       [-0.99271077],
       ...,
       [-1.1089203 ],
       [-0.9341505 ],
       [-0.99832654]], dtype=float32)

In [34]:
y_pred = y_pred.argmax(axis=-1)

In [35]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,y_pred)

0.7975